<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">

	<bean id="memberManager" class="no.bekk.open.memberservice.service.MemberManagerImpl" />

	<bean id="jaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
		<property name="classesToBeBound">
			<list>
				<value>no.bekk.open.memberservice.message.MemberDetailsRequest
				</value>
				<value>no.bekk.open.memberservice.message.MemberDetailsResponse
				</value>
				<value>no.bekk.open.memberservice.message.MemberDetail</value>
			</list>
		</property>
		<property name="schema" value="classpath:/memberservice-common.xsd"/>
	</bean>

</beans>